/* devanagari */
@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/teko/v10/LYjNdG7kmE0gfaJ9pRtB.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/teko/v10/LYjNdG7kmE0gfa19pRtB.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/teko/v10/LYjNdG7kmE0gfaN9pQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Teko', sans-serif;
    overflow: hidden;
}

a {
    color: #57994c;
    text-decoration: none;
    transition: text-shadow .5s ease;
}

a:hover {
    text-shadow: rgba(0, 0, 0, 0.4) .2rem .2rem .3rem;
    cursor: pointer;
}

a:active {
    color: #54b641;
}

p {
    font-size: 2rem;
}

#headerContainer {
    width: 100%;
    height: 3.5em;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: -2.6em;
    transition: all .5s ease;
}

#headerContainer:hover {
    background: rgba(0, 0, 0, 0.4);
    top: 0;
}

header {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .headerLink {
    transition: text-shadow .5s ease;
}

header .headerLink:hover {
    cursor: pointer;
    text-shadow: gray 2px 2px 3px;
}

#content {
    width: 100%;
}

.fullscreenPage {
    width: 100%;
    height: 100vh;
}

#page0 {
    color: antiquewhite;
    background: #0A2463;
}

#page1 {
    color: antiquewhite;
    background: #605F5E;
}

#page2 {
    color: antiquewhite;
    background: #cb121b;
}

#page3 {
    background: #E2E2E2;
}

#page4 {
    background: #BFCC94;
    color: #344966;
}

#page5 {
    background: #FFF9A5;
    color: #B48B7D;
}

#page6 {
    background: #3DD6D0;
    color: #513C2C;
}

#page7 {
    background: #97e8c2;
    color: #CBA135;
}

.fullscreenText {
    text-align: center;
    font-size: 20vmin;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.8) .5vmin .5vmin .6vmin;
    letter-spacing: .2vmin;
    cursor: default;
    word-wrap: anywhere;
}

.bigHeading {
    font-size: 14.5vmin;
}

.bigParagraph {
    font-size: 5.5vmin;
}

.centeredContainer {
    text-align: center;
}

.personPage img {
    max-width: 50vmin;
}

.personPage p {
    max-width: 25rem;
    margin: 6rem;
    font-size: 2rem;
}

@media screen and (max-width: 1000px) {
    .flexCenter {
        flex-wrap: wrap;
    }
    .personPage p {
        max-width: 90vw;
        margin: 1rem;
        font-size: 1.5rem;
    }
    .personPage {
        padding-top: 5vh;
    }
    #headerContainer {
        display: none;

    }
}

.personPage .flexCenter {
    justify-content: space-around;
    margin: 0 5vw;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*animations*/

.fadeIn {
    opacity: 0;
}

.active .fadeIn {
    animation: fadeIn 1s cubic-bezier(.18, .89, .42, 1.0);
    opacity: 1;
}

@keyframes fadeIn {
    from {
        right: 10rem;
        opacity: 0;
        position: relative;
    }
    to {
        right: 0;
        opacity: 1;
        position: relative;
    }
}

.rotate3D {
    opacity: 0;
}

.active .rotate3D {
    animation: rotateIn 2s ease-in-out;
    opacity: 1;
}

@keyframes rotateIn {
    from {
        transform: rotate3d(50, 30, 40, 770deg);
        right: 50%;
        position: relative;
        opacity: 0;
    }
    to {
        transform: rotate3d(0, 0, 0, 0deg);
        opacity: 1;
        right: 0;
        position: relative;
    }
}


.rotate3Dkrass {
    opacity: 0;
}

.active .rotate3Dkrass {
    animation: rotateInKrass 2s ease-in-out;
    opacity: 1;
}

@keyframes rotateInKrass {
    0% {
        transform: rotate3d(50, 30, 40, 1540deg);
        right: 50%;
        position: relative;
        opacity: 0;
    }
    100% {
        transform: rotate3d(-3, 3, 6, -360deg);
        opacity: 1;
        right: 0;
        position: relative;
    }
}


.rotate3DOag {
    opacity: 0;
}

.active .rotate3DOag {
    animation: rotateInOag 2s ease-in-out;
    opacity: 1;
}

@keyframes rotateInOag {
    0% {
        transform: rotate3d(50, 30, 40, 540deg);
        right: 50%;
        position: relative;
        opacity: 0;
    }
    60% {
        transform: rotate3d(50, 30, 40, -540deg);
        right: 20%;
        position: relative;
    }
    100% {
        transform: rotate3d(-4, 3, 2, -360deg);
        opacity: 1;
        right: 0;
        position: relative;
    }
}

.flyUp {
    opacity: 0;
}

.active .flyUp {
    animation: flyUp 1s cubic-bezier(.25,.46,.3,1);;
    opacity: 1;
}

@keyframes flyUp {
    from {
        top: 100vh;
        position: relative;
    }
    to {
        top: 0;
        position: relative;
    }
}
