* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Teko', sans-serif;
    overflow: hidden;
}

a {
    color: #57994c;
    text-decoration: none;
    transition: text-shadow .5s ease;
}

a:hover {
    text-shadow: rgba(0, 0, 0, 0.4) .2rem .2rem .3rem;
    cursor: pointer;
}

a:active {
    color: #54b641;
}

p {
    font-size: 2rem;
}

#headerContainer {
    width: 100%;
    height: 3.5em;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: -2.6em;
    transition: all .5s ease;
}

#headerContainer:hover {
    background: rgba(0, 0, 0, 0.4);
    top: 0;
}

header {
    margin: 0 auto;
    width: 50vw;
    height: 100%;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .headerLink {
    transition: text-shadow .5s ease;
}

header .headerLink:hover {
    cursor: pointer;
    text-shadow: gray 2px 2px 3px;
}

#content {
    width: 100%;
}

.fullscreenPage {
    width: 100%;
    height: 100vh;
}

#page0 {
    color: antiquewhite;
    background: #0A2463;
}

#page1 {
    color: antiquewhite;
    background: #605F5E;
}

#page2 {
    color: antiquewhite;
    background: #cb121b;
}

#page3 {
    background: #E2E2E2;
}

#page4 {
    background: #BFCC94;
    color: #344966;
}

#page5 {
    background: #FFF9A5;
    color: #B48B7D;
}

#page6 {
    background: #7FEFBD;
    color: #CBA135;
}

.fullscreenText {
    text-align: center;
    font-size: 20vmin;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.8) .5vmin .5vmin .6vmin;
    letter-spacing: .2vmin;
    cursor: default;
}

.bigHeading {
    font-size: 10rem;
}

.bigParagraph {
    font-size: 3rem;
}

.centeredContainer {
    text-align: center;
}

.personPage img {
    max-width: 50vmin;
}

.personPage p {
    max-width: 25rem;
    margin: 6rem;
}

.personPage .flexCenter {
    justify-content: space-around;
    margin: 0 5vw;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeIn {
    opacity: 0;
}

.active .fadeIn {
    animation: fadeIn 1s cubic-bezier(.18, .89, .42, 1.0);
    animation-fill-mode: forwards;
}

/*animations*/

@keyframes fadeIn {
    from {
        right: 10rem;
        opacity: 0;
        position: relative;
    }
    to {
        right: 0;
        opacity: 1;
        position: relative;
    }
}

.rotate3D {
    opacity: 0;
}

.active .rotate3D {
    animation: rotateIn 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes rotateIn {
    from {
        transform: rotate3d(50, 30, 40, 770deg);
        right: 50%;
        position: relative;
        opacity: 0;
    }
    to {
        transform: rotate3d(0, 0, 0, 0deg);
        opacity: 1;
        right: 0;
        position: relative;
    }
}